PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=tarimpro
PGUSER=tarimpro_user
PGPASSWORD=change_me

WEATHER_CACHE_REFRESH_HOUR=9
WEATHER_CACHE_REFRESH_MINUTE=0
WEATHER_CACHE_BATCH_SIZE=50
WEATHER_CACHE_SCHEDULER_ENABLED=true
WEATHER_CACHE_STARTUP_REFRESH_ENABLED=true
